body {
  margin: 0;
  font-family: sans-serif;
}

.app-header {
  background-color: white;
  color: black;
}

.app-navbar {
  background-color: white;
}

.app-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.app-navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.app-navbar li a:hover {
  background-color: #575757;
}

.app-navbar li a.active {
  background-color: #04aa6d;
}

.content {
  padding: 20px;
  text-align: center;
}
